nav {
    background-image: linear-gradient(to bottom,
        rgba(100, 141, 227, 1) 0%,     /* Have one blue area at top area */
        rgba(100, 141, 227, 1) 82%,
        rgba(5, 5, 15) 100%     /* and end it at 100% (= nav's height). */
    );
}

.nav-menu-open {
    background-color: rgba(100, 141, 227, 1);
}

.nav-item {
    color: rgb(31,41,55);
    padding: 1vw;
    font-weight: bold
}

.nav-item:hover {
    color: rgb(0,0,0);
    background-color: rgba(200,200,240,1)
}